Robot_Flows_node-red_Flows.json
[
    {
        "id": "69658317.2e071c",
        "type": "tab",
        "label": "Robot Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ffd5db2c.09c3e8",
        "type": "actionflows",
        "z": "69658317.2e071c",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "msg",
        "name": "StepperLocation",
        "prop": "loop",
        "untilprop": 0,
        "until": "gt",
        "loop": "none",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 1540,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "eb40ea0.1b52a18",
        "type": "http request",
        "z": "69658317.2e071c",
        "name": "Get Stepper Position",
        "method": "POST",
        "ret": "obj",
        "url": "localhost:5000/getStepperPosition",
        "tls": "",
        "x": 880,
        "y": 1440,
        "wires": [
            [
                "dcaade81.8175d"
            ]
        ]
    },
    {
        "id": "61ed4434.b1b1bc",
        "type": "actionflows_in",
        "z": "69658317.2e071c",
        "name": "StepperLocation.ArmUpDown",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 220,
        "y": 1400,
        "wires": [
            [
                "60b28216.a438bc"
            ]
        ]
    },
    {
        "id": "60b28216.a438bc",
        "type": "change",
        "z": "69658317.2e071c",
        "name": "ArmUpDownStepper",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ArmUpDownStepper",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1400,
        "wires": [
            [
                "81813454.942a58"
            ]
        ]
    },
    {
        "id": "81813454.942a58",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 630,
        "y": 1400,
        "wires": [
            [
                "eb40ea0.1b52a18"
            ]
        ]
    },
    {
        "id": "9fd07713.2a3718",
        "type": "actionflows_out",
        "z": "69658317.2e071c",
        "name": "action out",
        "links": [],
        "x": 1440,
        "y": 1460,
        "wires": []
    },
    {
        "id": "dcaade81.8175d",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "Update Global Stepper Location Variable",
        "func": "var dict = global.get(\"stepperLocation\");\ndict[msg.payload.device_name] = msg.payload.position;\nglobal.set(\"stepperLocation\", dict);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1180,
        "y": 1440,
        "wires": [
            [
                "9fd07713.2a3718"
            ]
        ]
    },
    {
        "id": "67a1c0d5.3479b",
        "type": "actionflows_in",
        "z": "69658317.2e071c",
        "name": "StepperLocation.SpinArm",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 210,
        "y": 1440,
        "wires": [
            [
                "bb15ddcb.19b65"
            ]
        ]
    },
    {
        "id": "bb15ddcb.19b65",
        "type": "change",
        "z": "69658317.2e071c",
        "name": "SpinArm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "SpinArm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1440,
        "wires": [
            [
                "d34e02e.d9128"
            ]
        ]
    },
    {
        "id": "d34e02e.d9128",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 630,
        "y": 1440,
        "wires": [
            [
                "eb40ea0.1b52a18"
            ]
        ]
    },
    {
        "id": "74089c56.334834",
        "type": "actionflows_in",
        "z": "69658317.2e071c",
        "name": "StepperLocation.Locomotion",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 220,
        "y": 1480,
        "wires": [
            [
                "16e5c062.ee83a"
            ]
        ]
    },
    {
        "id": "16e5c062.ee83a",
        "type": "change",
        "z": "69658317.2e071c",
        "name": "Locomotion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Locomotion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1480,
        "wires": [
            [
                "3f3bd8bc.6e3018"
            ]
        ]
    },
    {
        "id": "3f3bd8bc.6e3018",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 630,
        "y": 1480,
        "wires": [
            [
                "eb40ea0.1b52a18"
            ]
        ]
    },
    {
        "id": "e25190f3.c4395",
        "type": "actionflows_in",
        "z": "69658317.2e071c",
        "name": "StepperLocationInitialized",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 890,
        "y": 1480,
        "wires": [
            [
                "83618c9a.305ad"
            ]
        ]
    },
    {
        "id": "83618c9a.305ad",
        "type": "switch",
        "z": "69658317.2e071c",
        "name": "Location Been Set?",
        "property": "locationSetFlag",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1110,
        "y": 1480,
        "wires": [
            [
                "9fd07713.2a3718"
            ],
            [
                "9fd07713.2a3718",
                "156f4441.ac296c"
            ]
        ]
    },
    {
        "id": "156f4441.ac296c",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "Initialize Stepper Location Global Variable",
        "func": "global.set(\"stepperLocation\", {});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1420,
        "y": 1500,
        "wires": [
            [
                "f6816573.7825a8"
            ]
        ]
    },
    {
        "id": "bc35678c.93caa8",
        "type": "actionflows",
        "z": "69658317.2e071c",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "global",
        "name": "FindLocationStop",
        "prop": "locationStopSensor",
        "untilprop": "2",
        "until": "gte",
        "loop": "watch",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 1010,
        "y": 640,
        "wires": [
            [
                "1995720a.da08fe"
            ]
        ]
    },
    {
        "id": "d81ff8c4.375b18",
        "type": "actionflows_in",
        "z": "69658317.2e071c",
        "name": "FindLocationStop",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 400,
        "y": 780,
        "wires": [
            [
                "c38d4b09.4bb438"
            ]
        ]
    },
    {
        "id": "3630a872.3dce28",
        "type": "actionflows_out",
        "z": "69658317.2e071c",
        "name": "action out",
        "links": [],
        "x": 1540,
        "y": 760,
        "wires": []
    },
    {
        "id": "ff407dc6.abdbf",
        "type": "actionflows",
        "z": "69658317.2e071c",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "msg",
        "name": "StepperLocation.Locomotion",
        "prop": "loop",
        "untilprop": 0,
        "until": "gt",
        "loop": "none",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 360,
        "y": 640,
        "wires": [
            [
                "f377eea9.905f2"
            ]
        ]
    },
    {
        "id": "f377eea9.905f2",
        "type": "change",
        "z": "69658317.2e071c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "locationCounter",
                "pt": "msg",
                "to": "stepperLocation.Locomotion",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "timesLooped",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "smallSteps",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 640,
        "wires": [
            [
                "bc35678c.93caa8"
            ]
        ]
    },
    {
        "id": "da31e577.32b9c8",
        "type": "http request",
        "z": "69658317.2e071c",
        "name": "Move Drive Wheel",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:1880/moveStepper",
        "tls": "",
        "x": 1350,
        "y": 820,
        "wires": [
            [
                "3630a872.3dce28"
            ]
        ]
    },
    {
        "id": "1ae8ac4e.1446e4",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "if (msg.smallSteps === 0) {\n    var curLoc = global.get(\"driveLocation\");\n    msg.locationCounter = parseFloat(curLoc) - 0.2;\n    msg.smallSteps++;\n}\nmsg.locationCounter -= 0.07;\nmsg.payload = {};\nmsg.synchronous = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 820,
        "wires": [
            [
                "d98898ba.baee78"
            ]
        ]
    },
    {
        "id": "aacb46aa.0db2a8",
        "type": "link in",
        "z": "69658317.2e071c",
        "name": "Initialize Stepper Location",
        "links": [
            "f6816573.7825a8"
        ],
        "x": 1415,
        "y": 1620,
        "wires": [
            [
                "ffd5db2c.09c3e8"
            ]
        ]
    },
    {
        "id": "f6816573.7825a8",
        "type": "link out",
        "z": "69658317.2e071c",
        "name": "Initialize Stepper Location",
        "links": [
            "aacb46aa.0db2a8"
        ],
        "x": 1615,
        "y": 1500,
        "wires": []
    },
    {
        "id": "fb5d40d2.6b5be",
        "type": "link in",
        "z": "69658317.2e071c",
        "name": "Post Drive Drive Wheel",
        "links": [
            "64bcdf3e.e3cfb"
        ],
        "x": 155,
        "y": 640,
        "wires": [
            [
                "ff407dc6.abdbf"
            ]
        ]
    },
    {
        "id": "d18eb831.0f1148",
        "type": "switch",
        "z": "69658317.2e071c",
        "name": "",
        "property": "locationStopSensor",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 780,
        "wires": [
            [
                "61310bd4.e39134"
            ],
            [
                "1ae8ac4e.1446e4"
            ]
        ]
    },
    {
        "id": "2d5864c6.b03abc",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "msg.locationCounter -= 4;\nmsg.payload = {};\nmsg.synchronous = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "d98898ba.baee78"
            ]
        ]
    },
    {
        "id": "61310bd4.e39134",
        "type": "switch",
        "z": "69658317.2e071c",
        "name": "",
        "property": "timesLooped",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 740,
        "wires": [
            [
                "2d5864c6.b03abc"
            ],
            [
                "4ae72a18.2d0f34"
            ]
        ]
    },
    {
        "id": "4ae72a18.2d0f34",
        "type": "delay",
        "z": "69658317.2e071c",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1310,
        "y": 740,
        "wires": [
            [
                "3630a872.3dce28"
            ]
        ]
    },
    {
        "id": "c38d4b09.4bb438",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "msg.timesLooped++;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 780,
        "wires": [
            [
                "d18eb831.0f1148"
            ]
        ]
    },
    {
        "id": "d98898ba.baee78",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload.moveCommand",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device_name\": \"Locomotion\",\n    \"profile\": \"POST\",\n    \"position\":{{locationCounter}},\n    \"moveSynchronous\": {{synchronous}}\n}\n    ",
        "output": "json",
        "x": 1170,
        "y": 780,
        "wires": [
            [
                "da31e577.32b9c8"
            ]
        ]
    },
    {
        "id": "121fe37d.e8ca7d",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload.moveCommand",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device_name\": \"Locomotion\",\n    \"profile\": \"default\",\n    \"position\":{{locationCounter}},\n    \"moveSynchronous\": {{synchronous}}\n}\n    ",
        "output": "json",
        "x": 1290,
        "y": 640,
        "wires": [
            [
                "c76e63e0.cdfae"
            ]
        ]
    },
    {
        "id": "1995720a.da08fe",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "var curLoc = global.get(\"driveLocation\");\nmsg.locationCounter = parseFloat(curLoc) + 2.5;\nmsg.payload = {};\nmsg.synchronous = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1170,
        "y": 640,
        "wires": [
            [
                "121fe37d.e8ca7d"
            ]
        ]
    },
    {
        "id": "c76e63e0.cdfae",
        "type": "http request",
        "z": "69658317.2e071c",
        "name": "Move Drive Wheel",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:1880/moveStepper",
        "tls": "",
        "x": 1450,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d5e01e01.64aa3",
        "type": "debug",
        "z": "69658317.2e071c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "73185f61.eda88",
        "type": "link in",
        "z": "69658317.2e071c",
        "name": "Post Spin Arm Stepper",
        "links": [
            "b5ad0da1.ae132"
        ],
        "x": 135,
        "y": 900,
        "wires": [
            [
                "475badcb.5178b4"
            ]
        ]
    },
    {
        "id": "475badcb.5178b4",
        "type": "actionflows",
        "z": "69658317.2e071c",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "msg",
        "name": "StepperLocation.SpinArm",
        "prop": "loop",
        "untilprop": 0,
        "until": "gt",
        "loop": "none",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 290,
        "y": 900,
        "wires": [
            [
                "441da189.e11bf"
            ]
        ]
    },
    {
        "id": "441da189.e11bf",
        "type": "change",
        "z": "69658317.2e071c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "locationCounter",
                "pt": "msg",
                "to": "stepperLocation.SpinArm",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "timesLooped",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "smallSteps",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 900,
        "wires": [
            [
                "44f9d193.91972"
            ]
        ]
    },
    {
        "id": "44f9d193.91972",
        "type": "actionflows",
        "z": "69658317.2e071c",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "global",
        "name": "FindStop_SpinArm",
        "prop": "spinArmStopSensor",
        "untilprop": "2",
        "until": "gte",
        "loop": "watch",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 690,
        "y": 900,
        "wires": [
            [
                "a30cfb28.a4b108"
            ]
        ]
    },
    {
        "id": "6a4c2214.fcd4ac",
        "type": "actionflows_in",
        "z": "69658317.2e071c",
        "name": "FindStop_SpinArm",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 210,
        "y": 1080,
        "wires": [
            [
                "e8c12153.b8c3d"
            ]
        ]
    },
    {
        "id": "9e70e17.2b17f2",
        "type": "actionflows_out",
        "z": "69658317.2e071c",
        "name": "action out",
        "links": [],
        "x": 1880,
        "y": 1060,
        "wires": []
    },
    {
        "id": "e8c12153.b8c3d",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "msg.timesLooped++;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "d1833c3f.848fb"
            ]
        ]
    },
    {
        "id": "56219add.d61b64",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload.moveCommand",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device_name\": \"SpinArm\",\n    \"profile\": \"POST\",\n    \"position\":{{locationCounter}},\n    \"moveSynchronous\": {{synchronous}}\n}\n    ",
        "output": "json",
        "x": 1210,
        "y": 1100,
        "wires": [
            [
                "b0dfba9a.d557b8"
            ]
        ]
    },
    {
        "id": "b0dfba9a.d557b8",
        "type": "http request",
        "z": "69658317.2e071c",
        "name": "Spin Arm",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:1880/moveStepper",
        "tls": "",
        "x": 1380,
        "y": 1100,
        "wires": [
            [
                "9e70e17.2b17f2"
            ]
        ]
    },
    {
        "id": "d1833c3f.848fb",
        "type": "switch",
        "z": "69658317.2e071c",
        "name": "",
        "property": "spinArmStopSensor",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "3dc0819a.ac011e"
            ],
            [
                "757bcf19.b5873"
            ]
        ]
    },
    {
        "id": "3dc0819a.ac011e",
        "type": "switch",
        "z": "69658317.2e071c",
        "name": "",
        "property": "timesLooped",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 1060,
        "wires": [
            [
                "549aeb57.7f5de4"
            ],
            [
                "233a8a7a.6bca46"
            ]
        ]
    },
    {
        "id": "549aeb57.7f5de4",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "msg.locationCounter += 300;\nmsg.payload = {};\nmsg.synchronous = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 1020,
        "wires": [
            [
                "56219add.d61b64"
            ]
        ]
    },
    {
        "id": "233a8a7a.6bca46",
        "type": "delay",
        "z": "69658317.2e071c",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1190,
        "y": 1160,
        "wires": [
            [
                "9e70e17.2b17f2"
            ]
        ]
    },
    {
        "id": "757bcf19.b5873",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "if (msg.smallSteps === 0) {\n    var curLoc = global.get(\"spinArmLocation\");\n    msg.locationCounter = parseFloat(curLoc) + 13;\n}\nmsg.smallSteps++;\nmsg.locationCounter += 5;\nmsg.payload = {};\nmsg.synchronous = true;\nif (msg.smallSteps >= 7) {\n    global.set(\"spinArmStopSensor\", 0);\n    msg.smallSteps = 0;\n    msg.locationCounter = 300;\n    msg.synchronous = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 1160,
        "wires": [
            [
                "56219add.d61b64"
            ]
        ]
    },
    {
        "id": "a30cfb28.a4b108",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "var curLoc = global.get(\"spinArmLocation\");\nmsg.locationCounter = parseFloat(curLoc) - 163;\nmsg.payload = {};\nmsg.synchronous = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 900,
        "wires": [
            [
                "ed902ef9.44742"
            ]
        ]
    },
    {
        "id": "ed902ef9.44742",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload.moveCommand",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device_name\": \"SpinArm\",\n    \"profile\": \"default\",\n    \"position\":{{locationCounter}},\n    \"moveSynchronous\": {{synchronous}}\n}\n    ",
        "output": "json",
        "x": 970,
        "y": 900,
        "wires": [
            [
                "930ffc5b.3cf11"
            ]
        ]
    },
    {
        "id": "930ffc5b.3cf11",
        "type": "http request",
        "z": "69658317.2e071c",
        "name": "Spin Arm",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:1880/moveStepper",
        "tls": "",
        "x": 1100,
        "y": 900,
        "wires": [
            [
                "683ae504.0c84cc"
            ]
        ]
    },
    {
        "id": "6dded316.49759c",
        "type": "actionflows",
        "z": "69658317.2e071c",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "global",
        "name": "FindStop_Release_Spinarm",
        "prop": "spinArmStopReleaseSensor",
        "untilprop": "1",
        "until": "gte",
        "loop": "watch",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 1480,
        "y": 900,
        "wires": [
            [
                "6e8f276a.bac338"
            ]
        ]
    },
    {
        "id": "683ae504.0c84cc",
        "type": "change",
        "z": "69658317.2e071c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "spinArmStopSensor",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "spinArmStopReleaseSensor",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 900,
        "wires": [
            [
                "6dded316.49759c"
            ]
        ]
    },
    {
        "id": "4990c9c.a72c738",
        "type": "actionflows_in",
        "z": "69658317.2e071c",
        "name": "FindStop_Release_Spinarm",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 1220,
        "y": 1040,
        "wires": [
            [
                "7b0d4e50.5e79d"
            ]
        ]
    },
    {
        "id": "7b0d4e50.5e79d",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "msg.locationCounter -= 2;\nmsg.payload = {};\nmsg.synchronous = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410,
        "y": 1040,
        "wires": [
            [
                "1c024ffd.dc063"
            ]
        ]
    },
    {
        "id": "1c024ffd.dc063",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload.moveCommand",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device_name\": \"SpinArm\",\n    \"profile\": \"POST\",\n    \"position\":{{locationCounter}},\n    \"moveSynchronous\": {{synchronous}}\n}\n    ",
        "output": "json",
        "x": 1530,
        "y": 1040,
        "wires": [
            [
                "851fb549.7ee348"
            ]
        ]
    },
    {
        "id": "851fb549.7ee348",
        "type": "http request",
        "z": "69658317.2e071c",
        "name": "Spin Arm",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:1880/moveStepper",
        "tls": "",
        "x": 1660,
        "y": 1040,
        "wires": [
            [
                "9e70e17.2b17f2"
            ]
        ]
    },
    {
        "id": "6e8f276a.bac338",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "msg.locationCounter += 5.5;\nmsg.payload = {};\nmsg.synchronous = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1670,
        "y": 900,
        "wires": [
            [
                "ee144bbb.5f7fb8"
            ]
        ]
    },
    {
        "id": "ee144bbb.5f7fb8",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload.moveCommand",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device_name\": \"SpinArm\",\n    \"profile\": \"POST\",\n    \"position\":{{locationCounter}},\n    \"moveSynchronous\": {{synchronous}}\n}\n    ",
        "output": "json",
        "x": 1790,
        "y": 900,
        "wires": [
            [
                "e360d6a0.af9678"
            ]
        ]
    },
    {
        "id": "e360d6a0.af9678",
        "type": "http request",
        "z": "69658317.2e071c",
        "name": "Spin Arm",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:1880/moveStepper",
        "tls": "",
        "x": 1820,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "1cf1a4e2.ebef5b",
        "type": "actionflows",
        "z": "69658317.2e071c",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "msg",
        "name": "StepperLocation.ArmUpDownStepper",
        "prop": "loop",
        "untilprop": 0,
        "until": "gt",
        "loop": "none",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "caa1336c.c6bfd"
            ]
        ]
    },
    {
        "id": "caa1336c.c6bfd",
        "type": "change",
        "z": "69658317.2e071c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "locationCounter",
                "pt": "msg",
                "to": "stepperLocation.ArmUpDownStepper",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "timesLooped",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "smallSteps",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "9aec36ea.55ccb8"
            ]
        ]
    },
    {
        "id": "b27020ec.5fdc2",
        "type": "link in",
        "z": "69658317.2e071c",
        "name": "Post Arm Up-Down",
        "links": [
            "2444671b.436228"
        ],
        "x": 155,
        "y": 440,
        "wires": [
            [
                "1cf1a4e2.ebef5b"
            ]
        ]
    },
    {
        "id": "445d9006.d9548",
        "type": "actionflows_in",
        "z": "69658317.2e071c",
        "name": "FindStop_ArmUpDown",
        "priority": "50",
        "links": [],
        "scope": "global",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "eab8ee17.f20e6"
            ]
        ]
    },
    {
        "id": "eab8ee17.f20e6",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "msg.timesLooped++;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "5591d253.435bcc"
            ]
        ]
    },
    {
        "id": "5591d253.435bcc",
        "type": "switch",
        "z": "69658317.2e071c",
        "name": "",
        "property": "armUpDownStopSensor",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 500,
        "wires": [
            [
                "7eab4771.76d4f8"
            ],
            [
                "f462af52.b6d42"
            ]
        ]
    },
    {
        "id": "7eab4771.76d4f8",
        "type": "switch",
        "z": "69658317.2e071c",
        "name": "",
        "property": "timesLooped",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 500,
        "wires": [
            [
                "ab6d0f6b.d208e"
            ],
            [
                "cf2aa966.87e638"
            ]
        ]
    },
    {
        "id": "cb23cc05.8955a",
        "type": "actionflows_out",
        "z": "69658317.2e071c",
        "name": "action out",
        "links": [],
        "x": 1540,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf2aa966.87e638",
        "type": "delay",
        "z": "69658317.2e071c",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "cb23cc05.8955a"
            ]
        ]
    },
    {
        "id": "ab6d0f6b.d208e",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "msg.locationCounter -= 300;\nmsg.payload = {};\nmsg.synchronous = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 480,
        "wires": [
            [
                "22e3e237.fdd7de"
            ]
        ]
    },
    {
        "id": "22e3e237.fdd7de",
        "type": "template",
        "z": "69658317.2e071c",
        "name": "",
        "field": "payload.moveCommand",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"device_name\": \"ArmUpDownStepper\",\n    \"profile\": \"POST\",\n    \"position\":{{locationCounter}},\n    \"moveSynchronous\": {{synchronous}}\n}\n    ",
        "output": "json",
        "x": 990,
        "y": 480,
        "wires": [
            [
                "c8b8cb19.7dfd28",
                "d5e01e01.64aa3"
            ]
        ]
    },
    {
        "id": "c8b8cb19.7dfd28",
        "type": "http request",
        "z": "69658317.2e071c",
        "name": "Arm Up-Down",
        "method": "POST",
        "ret": "txt",
        "url": "localhost:1880/moveStepper",
        "tls": "",
        "x": 1220,
        "y": 460,
        "wires": [
            [
                "863558e.0665fa8"
            ]
        ]
    },
    {
        "id": "f462af52.b6d42",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "if (msg.smallSteps === 0) {\n    var curLoc = global.get(\"armUpDownLocation\");\n    msg.locationCounter = parseFloat(curLoc) + 5;\n}\nmsg.smallSteps++;\nmsg.locationCounter -= 1;\nmsg.synchronous = true;\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 540,
        "wires": [
            [
                "22e3e237.fdd7de"
            ]
        ]
    },
    {
        "id": "863558e.0665fa8",
        "type": "function",
        "z": "69658317.2e071c",
        "name": "",
        "func": "if (msg.smallSteps === 1) {\n    global.set(\"armUpDownStopSensor\", 1);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 460,
        "wires": [
            [
                "cb23cc05.8955a"
            ]
        ]
    },
    {
        "id": "9aec36ea.55ccb8",
        "type": "actionflows",
        "z": "69658317.2e071c",
        "info": "Describe your action API here.",
        "untilproptype": "num",
        "proptype": "global",
        "name": "FindStop_ArmUpDown",
        "prop": "armUpDownStopSensor",
        "untilprop": "2",
        "until": "gte",
        "loop": "watch",
        "scope": "global",
        "perf": false,
        "seq": false,
        "x": 980,
        "y": 360,
        "wires": [
            []
        ]
    }
]